!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8'}
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title= content_for?(:title) ? content_for(:title) : 'Code Critic'

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://www.authy.com/form.authy.min.css'

    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://www.authy.com/form.authy.min.js'
    = javascript_include_tag 'devise_authy.js'

    = csrf_meta_tags

  %body
    = render partial: 'shared/navigation'

    - unless flash.empty?
      #alerts
        - flash.each do |key, message|
          .alert{ class: format('alert-%s', key) }= message

    = yield
