!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8'}
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title= content_for?(:title) ? content_for(:title) : 'Code Critic'

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://www.authy.com/form.authy.min.css'

    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'https://www.authy.com/form.authy.min.js'

    = csrf_meta_tags

  %body
    = render partial: 'shared/navigation'

    - unless flash.empty?
      .row#alerts
        .small-12.centered.columns
          - flash.each do |key, message|
            .alert-box{ class: key, data: { alert: true } }
              = message
              %a.close{ href: '#' } &times;

    - if content_for?(:body)
      = content_for(:body)

    - else
      .row
        .small-12.centered.columns
          = yield

    = javascript_include_tag 'application'
